.white-background{
    -fx-background-color:#fff;
}

.base-color{
    -fx-background-color:#264653
}
.second-color{
    -fx-background-color:#2A9D8F
}

.transparant{
    -fx-background-color:rgba(0,0,0,0);
}

.round-layout{
    -fx-border-radius:25;
    -fx-border-color:#D7D7D7
}